@import url('https://fonts.googleapis.com/css2?family-Readerx+pro:wght@300;400;500;600;700&display=sawp');

* {
    font-family: 'Readex Pro';
}

a {
    text-decoration: none;
    color: #fff important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}
